<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr align="center">
            <td>MATCH SCHEDULE:</td>
        </tr>
        {% if all_match %}
        {% for am in all_match %}
        <tr>
            <td>{{am.match_team1}} vs. {{am.match_team2}} on </td>
            <td>{{am.match_date}}   at   </td>
            <td>    {{am.match_ground}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</body>
</html>